/.backups
/Cartas para aprobación de proyecto
/GpMessages
/ImportLog
/Index
/LagoValencia.aprx
/LagoValencia.atbx
/LagoValencia.code-workspace
/LagoValencia.gdb
/raster
/RasterFunctionsHistory
/RasterFunctionTemplates